@import '~@angular/material/theming';

@include mat-core();

$hot-primary: (
  50 : #f0f9f8,
  100 : #d9efee,
  200 : #c0e5e3,
  300 : #a6dbd7,
  400 : #93d3cf,
  500 : #80cbc6,
  600 : #78c6c0,
  700 : #6dbeb9,
  800 : #63b8b1,
  900 : #50aca4,
  A100 : #ffffff,
  A200 : #d9fffc,
  A400 : #a6fff8,
  A700 : #8cfff6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$hot-accent: (
  50 : #fffefb,
  100 : #fffdf6,
  200 : #fffcf0,
  300 : #fffaea,
  400 : #fff9e6,
  500 : #fff8e1,
  600 : #fff7dd,
  700 : #fff6d9,
  800 : #fff5d5,
  900 : #fff3cd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

$hotel-primary: mat-palette($hot-primary ,700, 300,900);
$hotel-accent:  mat-palette($hot-accent, 500,400,700);
$hotel-warn:   mat-palette($mat-red);
$hotel: mat-light-theme((
  color: (
    primary: $hotel-primary,
    accent: $hotel-accent,
    warn: $hotel-warn,  
  )
));
@import './app/app/navigation/navtabs/navtabs.component-theme.scss';
@include angular-material-theme($hotel);
@include navtabs-component-theme($hotel);

//////font tiltle
$hot-typo:mat-typography-config(
  $font-family:   'Rubik,sans-serif',
  $display-4:     mat-typography-level(100px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(65.5px, 0, 400),
  $title:         mat-typography-level(61px, 32px, 500),
  $subheading-2:  mat-typography-level(48.77px, 0.28px, 400),
  $subheading-1:  mat-typography-level(34.4px, 0.28px, 400),
  $body-2:        mat-typography-level(14.22px, 0.25px, 500),
  $body-1:        mat-typography-level(16.26px, 0.5px, 400),
  $caption:       mat-typography-level(12.19px, 1.4px, 400),
  $button:        mat-typography-level(14.22px, 1.4px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($hot-typo);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($hot-typo);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($hot-typo);

@include mat-core($hot-typo);


.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {

  background-color: mat-color($mat-red,lighter);
  color: mat-color($mat-red,900);

}