<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
         <mat-icon>input</mat-icon>
          <h2 class="mat-caption">Signin</h2><span></span>
    </a>

    <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
        <mat-icon>account_circle</mat-icon>
        <h2 class="mat-caption">SignUp</h2>    </a>
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
        <mat-icon>hotel</mat-icon>
        <h2 class="mat-caption">Accomodation</h2>    </a>
    <a mat-list-item routerLink="/offer" (click)="onToggleClose()">
        <mat-icon>loyalty</mat-icon>
        <h2 class="mat-caption">Offer</h2>    </a>
</mat-nav-list>