.hero-container{
    background: url(/assets/images/back2.jpg)  no-repeat;
    background-size: cover;
    /* height: calc(100vh - 145); */
}
.mat-display-1{
    text-transform: uppercase;
}


.book-now{
    padding:35px 115px;
}
.book-now-b{
width: 170px;
color: white;
border: 1px solid white;
text-transform: uppercase;
}
.header-book{
padding: 60px 20px;
text-align: center;
max-width: 600px;
}
.header-book .mat-display-4 {
    color:rgba(62, 41, 2, 0.612);
}
.header-book .mat-display-1 {
margin: 15px;
}

.text-trans{
    position: relative;
    width: 100%;
    text-align: center;
    transform: translate(-50%, 50%);


}
.text-trans h3{
    
    /* background: radial-gradient(
    circle farthest-corner at center center,
    rgb(198, 183, 183),
    #111
    ) no-repeat; */
    background: url(/assets/images/beach.jpg) repeat;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-stretch: normal;
    font-size: 200px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Rubik,sans-serif;
    top: 50%;
    left: 50%;
    position: relative;
}
.home-s{

}

.home-s p{
    text-align: center;
    line-height: normal;
}
.rooms-h-display{
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    margin: 15px;

}
.rooms-h-display .mat-card{
    position: relative;
    text-align: center;
}
.rooms-h{
    background:url(/assets/images/back.jpg) center center no-repeat;
    background-size: cover;
}
.beach-h{
    background:url(/assets/images/beach2.jpg) center center no-repeat;
    background-size: cover;
}
mat-card{
    height: 400px;
}
.rooms-h-display mat-card-header h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
}
.rooms-h-display mat-card-header{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    height: 55px;
    background: rgba(255,248,255,0.6);
}
.rooms-h-display mat-card-action{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rooms-h-display button{
    min-width: 141px;
    min-height: 40px;
}
/* @media all and (min-width:768px){
    .hero-container{
        height: 100vh;
    }
} */
@media all and(max-width:599px){
    .header-book .mat-display-1{
        font-size: 1.1rem;
        line-height: 1.1;

    }
    .header-book .mat-display-4{
        font-size: 3rem;
        line-height: 1.1;

    }

}